<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- java scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.js"></script>

    <script>
        var app = angular.module("app",[]);

        app.controller("user",['$scope','$http',function($scope,$http){
            
            $scope.getUsers = function(){
                $http({
                    url: 'http://reqres.in/api/users',
                    method: 'GET'
                }).then(
                    function(resp){
                        //success function
                        $scope.users = resp.data;
                    },
                    function(err){
                        //failure
                        $scope.users = undefined;
                        console.log("Error:"+err);
                        alert("ERROR Occured..");
                    }
                );
            }
        }]);
       
    </script>
    
    <title>Home Page</title>
</head>
<body ng-app="app">
    <h3>Example of ajax</h3>
    <div ng-controller="user">
        <button ng-click="getUsers()">Get All Users</button>
        <hr>
        <p>{{users}}</p>
    </div>
    
</body>
</html>