<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
    <script src="../angular-1.7.8/angular.js"></script>
    <script>
        var app = angular.module("app",[]);
        app.controller("controller",['$scope',function($scope){
            $scope.msg1 = "This is message from 1st diretive";
        }]);
        app.directive("myInfoMsg",function(){
            return {
                template: "<strong>{{msg1}}</storng>"
            };
        });
        app.directive("myInfoMsg2",function(){
            return {
                templateUrl: "my-info2.html"
            };
        });
        app.directive("myInfoMsg3",function(){
            return {
                templateUrl: "info_msg_3.html"
            };
        });
    </script>
</head>
<body ng-app="app">
    <h3>Example of custom directive..</h3>
    <div ng-controller="controller">
        <div my-info-msg></div>

        <script type="text/ng-template" id="my-info2.html">
            <strong>This message is from test/ng-template</strong>
        </script>
        <div my-info-msg2></div>  
        <my-info-msg2></my-info-msg2>  
        <!-- below code will not work without server -->
        <!-- <my-info-msg3></my-info-msg3> -->
    </div>
    
</body>
</html>