<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- java scripts -->
    <script src="../angular-1.7.8/angular.js"></script>

    <script>
        var app = angular.module("app",[]);
        //business logic in service
        //service is of type factory
        app.factory('sumFactory',['$log',function($log){
            $log.log("Instantiating sumFactory..");
            var calcFactoryObj = {};
            calcFactoryObj.doSum = function(a,b){
                return parseInt(a)+parseInt(b);
            };
            return calcFactoryObj;
        }]);

        //service declaration of type service
        //no need to return service obj, auto instantiated by angular
        app.service('multService',['$log',function($log){
            $log.log("Instantiating multService..");
            this.doMult = function(a,b){
                return parseInt(a)*parseInt(b);
            };
        }]);

        app.controller("controller",['$scope','sumFactory','multService',function($scope,sumService,multService){
            $scope.a=10;
            $scope.b=20;
            //calling service method
            $scope.doSum = function(){
                $scope.sum=sumService.doSum($scope.a,$scope.b);
            };

            $scope.doMult = function(){
                $scope.mult=multService.doMult($scope.a,$scope.b);
            }
        }]);
       
    </script>
    
    <title>Home Page</title>
</head>
<body ng-app="app">
    <h3>Example of custom service</h3>
    <div ng-controller="controller">
        Value of a is: {{a}} <input type="text" ng-model="a"><br>
        Value of a is: {{b}} <input type="text" ng-model="b"><br>
        <hr>
        <button ng-click="doSum()">Sum</button> Sum= {{sum}} <br><br>
        <button ng-click="doMult()">Multiply</button> Multiply = {{mult}}
    </div>
    
</body>
</html>