<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- java scripts -->
    <script src="../angular-1.7.8/angular.js"></script>

    <script>
        var app = angular.module("app",[]);

        app.provider('empService',function(){
            //$log.log("Instantiating empService..");
            this.emp = {};
            //this calls the defined provider config internally
            this.config = function(empDetails){
                emp.name = empDetails.name;
            };
            this.$get = function(){
                var empServiceObj = {};
                empServiceObj.getEmpDetails = function(){
                    return this.user;
                };
                return empServiceObj;
            };
        });
        // naming convention <service-name>Provider
        // automatically registers for the particular service as a provider
        app.config("empServiceProvider",function(empServiceProvider){
            var empDeatils={};
            empDeatils.name = "John Snow";
            empDeatils.dept = "Army";
            empDeatils.sal = 1000;
            empServiceProvider.config(empDeatils);
        });

        app.controller('empController',['$scope','empService',function($scope,service){
            $scope.getEmpDetails = function(){
                $scope.emp = service.getEmpDetails();
            };
        }]);
    </script>
    
    <title>Home Page</title>
</head>
<body ng-app="app">
    <h3>Example of custom service, provider</h3>
    <div ng-controller="empController">
       <button ng-click="getEmpDetails()">Get Emp DEtails</button><br>
       <hr>
       <h3>{{emp.name}}</h3>
       <p>Dept: {{emp.dept}}</p><br>
       <p>Sal: {{emp.sal}}</p><br>
    </div>
</body>
</html>