<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- java scripts -->
    <script src="../angular-1.7.8/angular.js"></script>

    <script>
        var app = angular.module("app",[]);
        app.provider('calcService',function(){
            this.$get = function(){
                var oCalcService={};
                oCalcService.getSum = function(a,b){
                    return parseInt(a)+parseInt(b);
                };
                return oCalcService;
            };
        });
        // naming convention <service-name>Provider
        // automatically registers for the particular service as a provider
        app.config('calcServiceProvider',function(calcServiceProvider){
            
        });

        app.controller('controller',['$scope','calcService',function($scope,calcService){
            $scope.doSum = function(){
                $scope.sum = calcService.getSum(10,20);
            };
        }]);
    </script>
    
    <title>Home Page</title>
</head>
<body ng-app="app">
    <h3>Example of custom service, provider</h3>
    <div ng-controller="controller">
       <button ng-click="doSum()">Get Emp DEtails</button><br>
       <hr>
       <p>{{sum}}</p>
    </div>
</body>
</html>