<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- java scripts -->
    <script src="../angular-1.7.8/angular.js"></script>

    <script>
        var app = angular.module("app",[]);
        app.controller("controller",["$scope",function($scope){
            $scope.a = 10;
            $scope.b = 20;
            $scope.doubleAndSum = function(){
                $scope.a = $scope.a*2;
                $scope.b = $scope.b*2;
                $scope.sum = $scope.a + $scope.b;
            }
        }]);
        app.controller("controller2",["$scope",function($scope){
            $scope.a = 10;
            $scope.b = 20;
            $scope.doSum = function(){
                $scope.sum = parseInt($scope.a) + parseInt($scope.b);
            }
        }]);
    </script>
    
    <title>Home Page</title>
</head>
<body ng-app="app">
    <h3>Example of oneway, one time databind</h3>
    <div ng-controller="controller">
        Value of a: {{a}}
        Value of b: {{b}}
        <hr>
        Value of a is <span ng-bind="a"></span>
        Value of b is <span ng-bind="b"></span>
        <hr>
        Sum = {{sum}} <br>
        <button ng-click="doubleAndSum()">Double And Sum</button>
        <hr>
        Initial value of a: {{::a}} and b: {{::b}}
    </div>
    <hr><hr>
    <div ng-controller="controller2">
        <h3>Example of two way databind</h3>
        <input type="text" ng-model="a">
        Value of a: {{a}} <br>
        <input type="text" ng-model="b">
        Value of b: {{b}} <br>
        <hr>
        Sum = {{sum}} <br>
        <button ng-click="doSum()">Sum</button>
    </div>
</body>
</html>