<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>

    <script src="../angular-1.7.8//angular.js"></script>
    <script>
        var app = angular.module('app',[]);
        app.controller('controller',['$scope','$rootScope',function($scope,$rootScope){
            $scope.a = 1;
            $scope.b = 2;
            $scope.c = 3;

            $scope.$watch('a',function(newVal,oldVal){
                if(newVal != oldVal){
                    console.log('a has been modified to:'+newVal);
                }
                // the below code will create a infinte loop, after 10 digest cycle it will fail
                // if(newVal > 50){
                //     $scope.c = $scope.c + 1;
                // }
            });
            $scope.$watch('b',function(newVal,oldVal){
                if(newVal != oldVal){
                    console.log('b has been modified to:'+newVal);
                }
            });
            $scope.$watch('c',function(newVal,oldVal){
                if(newVal != oldVal){
                    console.log('c has been modified to:'+newVal);
                }
                if(newVal > 50){
                    $scope.a = newVal;
                }
            });
            //digest process for any modification in rootScope
            $rootScope.$watch(function(){
                console.log("digest process started..");
            });
        }]);
    </script>
</head>
<body ng-app="app">
    <div ng-controller="controller">
        a = {{a}} <input type="text" ng-model="a"> <br> <br>
        b = {{b}} <input type="text" ng-model="b"><br> <br>
        c = {{c}} <input type="text" ng-model="c"><br> <br>

    </div>
</body>
</html>