<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../angular-1.7.8//angular.js"></script>
    <script>
        var app = angular.module("app",[]);
        app.controller("controller",['$scope',function($scope){
            $scope.numList = [];
            $scope.sum = 0;
            $scope.displayList = function(){
                console.log($scope.numList);
            };
            $scope.addToList = function(number){
                $scope.numList.push(parseInt(number));
                $scope.displayList();
                $scope.doSum(parseInt(number));
            };
            $scope.clearList = function(){
                $scope.numList = [];
            };
            $scope.isEven = function(num){
                return parseInt(num)%2==0;
            };
            $scope.doSum = function(){
                angular.forEach($scope.numList,function(n){
                    $scope.sum = $scope.sum + n;
                });
            };
        }]);
    </script>
</head>
<body ng-app="app">
    <div ng-controller="controller">
        <h3>Example of ng-if, ng-repeat, ng-show, ng-hide</h3>
        <label>Input Number:</label>
        <input type="text" ng-model="number">
        <button ng-click="addToList(number)">Add To List</button>
        <button ng-click="clearList()">Clear List</button>
        <hr>
        <h4>Dsiplay Number List:</h4>
        <p style="color:red" ng-show="numList.length==0">The number list is Empty..</p>
        <div ng-repeat="num in numList">
            <ul>
                <li>{{num}} <span ng-if="isEven(num)">:: This is Even</span></li>
            </ul>
        </div>
        <hr>
        <div ng-hide="sum <= 0">
            <h4>Sum of number: {{sum}}</span></h4>
        </div>
    </div>
</body>
</html>