<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>

    <script src="../angular-1.7.8//angular.js"></script>
    <script>
        var app = angular.module('app',[]);
        app.controller('controller',['$scope','$parse','$interpolate',function($scope,$parse,$interpolate){
            $scope.a = 10;
            $scope.b = 20;
            $scope.c = 3;
            $scope.person = {
                name: "John",
                age:10,
                sal: 2000,
                address:{
                    city: 'Kolkata',
                    country: 'India'
                }
            };
            //.........eval......
            //type 1
            // $scope.doMult = function(){
            //     $scope.r = $scope.$eval("a*b");
            // };
            //type 2
            // $scope.doMult = function(){
            //     $scope.r = $scope.$eval("a*b*c",{
            //         a:3,
            //         c:5
            //     });
            // };
            //type 3
            $scope.doMult = function(){
                $scope.r = $scope.$eval(function(scope,locals){
                    return scope.a * scope.b* locals.c;
                },{
                    a:2, b:3, c:7
                });
            };
            //type 4
            $scope.evalPerson = function(){
                $scope.v = $scope.$eval("person.address.city");
                alert($scope.v);
            }

            //.......example of parse..............
            
            //tpe 1
            // $scope.parseValue = function(){
            //     var f = $parse("a*b"); //parse returns a function
            //     $scope.r = f($scope);
            //     alert($scope.r);
            // }

            //type 2
            $scope.parseValue = function(){
                var o = {a:4,b:6};
                var f = $parse("a*b"); //parse returns a function
                alert(f(o));
                alert(f($scope));
            }
            //type 3
            $scope.parseAssign = function(){
                alert($parse("person.address.city")($scope));
                $parse("person.address.city").assign($scope,"Dallas");
                alert($parse("person.address.city")($scope));
            };

            //example of interpolate
            //type 1
            // $scope.interpolateValue =  function(){
            //     var f = $interpolate("Result = {{a*b}}"); //interpolate returns a function
            //     $scope.v = f($scope);
            //     alert($scope.v);
            // }
            //type 2
            $scope.interpolateValue =  function(){
                alert($interpolate("Result = {{a*b}}")({a:9,b:7}));
            }

            //type 3
            $scope.interpolateFilter = function(){
                $scope.v = $interpolate("Sal = {{person.sal | currency: 'USD$'}}")($scope);
                alert($scope.v);
            }

        }]);
    </script>
</head>
<body ng-app="app">
    <div ng-controller="controller">
        a = {{a}} <br>
        b = {{b}} <br>
        <hr>
        result = {{r}} <br>
        <button ng-click="doMult()">Multiply</button> <br>
        <button ng-click="evalPerson()">Eval Person City</button> <br>
        <hr>
        <button ng-click="parseValue()">Parse value</button> <br>
        <button ng-click="parseAssign()">Parse Assign</button> <br>
        <hr>
        <button ng-click="interpolateValue()">Interpolate value</button> <br>
        <button ng-click="interpolateFilter()">Interpolate Filter</button> <br>
    </div>
</body>
</html>