<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>

    <script src="../angular-1.7.8//angular.js"></script>
    <script>
        var app = angular.module("app",[]);
        app.controller("empController",['$scope','$filter','empService',function($scope,$filter,empService){
            $scope.getEmpList = function(){
                $scope.emps = empService.getAllEmps();
                //the below code is not working
                // angular.forEach($scope.emps,function(emp){
                //     emp.dob = $filter("mediumDate")(emp.dob);
                // });
            };
            $scope.getEmpList();
            console.log($scope.emps);
        }]);
        app.service('empService',function(){
            this.getAllEmps = function(){
                var empList = [];
                empList.push({'name':'John','dept':'Finance','dob':1288323623006,'sal':2000});
                empList.push({'name':'Arya','dept':'Army','dob':1288323624006,'sal':3000});
                empList.push({'name':'Sansa','dept':'Food','dob':1388323623006,'sal':4000});
                empList.push({'name':'Bran','dept':'Architecture','dob':1299323623006,'sal':5000});
                return empList;
            };
        });
    </script>
</head>
<body ng-app="app">
    <h3>Example of Filters</h3>
    <div ng-controller="empController">
        Quick Dept Search: <input type="text" ng-model="deptSearch">
        <hr>
        <table>
            <thead>
                <tr>
                    <td style="color:blue;padding-right: 100px">Name</td>
                    <td style="color:blue;padding-right: 100px">Dept</td>
                    <td style="color:blue;padding-right: 100px">Dob</td>
                    <td style="color:blue;padding-right: 100px">Salary</td>
                </tr>
            </thead>
            <tr ng-repeat="emp in emps | filter: {dept:deptSearch}">
                <td>{{emp.name | uppercase }}</td>
                <td>{{emp.dept}}</td>
                <td>{{emp.dob | date: fullDate}}</td>
                <td>{{emp.sal | currency:"$":2}}</td>
            </tr>
        </table>
    </div>
</body>
</html>