<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- java scripts -->
    <script src="../angular-1.7.8/angular.js"></script>
    <script src="./scripts/base.js"></script>

    <title>Home Page</title>
</head>
<body ng-app="app">
    <div>
        <Label>Type Anything:</Label>
        <input type="text" ng-model=msg> {{ msg }}
    </div>
    <hr>
    <div ng-controller="my-controller as ctrl">
        <Label>Type Name:</Label>
        <input type="text" name="name" ng-model=ctrl.name>
        <input type="submit" value="Hello" ng-click="ctrl.hello()">
        <br><br>
        Message From App: <h3>{{ctrl.message}}</h3>

    </div>
</body>
</html>