<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
    <!-- j-query -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- angular scripts(local) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular-route.js"></script> 
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script>
        var app = angular.module("app",['ngRoute']);

        app.config(['$routeProvider','$locationProvider',function($routeProvider,$locationProvider){
            //below code is required to escape use custom prefix
            $locationProvider.hashPrefix('');
            //routing logic
            $routeProvider
            .when('/',{
                template: '<strong>This is home page..</strong>'
            })
            .when('/first-msg',{
                template: '<strong>This is first message..a={{a}},b={{b}}</strong>',
                controller: 'controller1',
                //route is case sensitive, to make it insensitive
                caseInsensitiveMatch:true
            }).when('/second-msg',{
                template: '<strong>This is second message..a={{a}}, b={{b}}</strong>',
                controller: 'controller2'
            }).when('/third-msg',{
                template: '<strong>This is third message..</strong>'
            }).when('/fourth-msg',{
                redirectTo: function(){
                    alert("Sorry page is under construction..taking you to home page!!");
                    return "/";
                }
            }).when('/sum-input',{
                template: '<div>a = <input type="text" ng-model="a"><br>b = <input type="text" ng-model="b"><hr><button ng-click="doSum()">Sum</></div>',
                controller : 'sumInputController'
            }).when('/sum/:a/:b/:c?',{ //c is optional param 
                template: '<div>sum = {{(a-0)+(b-0)}}</div>',
                controller:'sumController'
            }).otherwise({
                template: '<strong>No content available...</strong>'
            });
        }]);
        app.controller("controller1",['$scope',function($scope){
            $scope.a = 10;
            $scope.b = 20;
        }]);
        app.controller("controller2",['$scope',function($scope){
            $scope.a = 30;
            $scope.b = 40;
        }]);
        app.controller("sumInputController",['$scope','$location','$interpolate',function($scope,$location,$interpolate){
            $scope.a = 0;
            $scope.b = 0;
            $scope.doSum = function(){
                var url = $interpolate('/sum/{{a}}/{{b}}')($scope);
                $location.path(url);
            }
        }]);
        app.controller("sumController",['$scope','$routeParams',function($scope,$routeParams){
            $scope.a = $routeParams.a;
            $scope.b = $routeParams.b;
        }]);
    </script>
</head>
<body ng-app="app" class="container container-fluid">
    <div class="row">
        <div class="page-header">
            <h3>Example of route</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 well" style="height: 100%">
            <ul>
                <li> <a href="#/first-msg">First</a></li>
                <li> <a href="#/second-msg">Second</a> </li>
                <li> <a href="#/third-msg">Third</a></li>
                <li> <a href="#/fourth-msg">Fourth</a></li>
                <li> <a href="#/sum-input">Sum input</a></li>
            </ul>
        </div>
        <div class="col-sm-9 well" style="height: 100%">
            <div ng-view></div>
        </div>
    </div>
</body>
</html>