<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- java scripts -->
    <script src="../angular-1.7.8/angular.js"></script>

    <script>
        var app = angular.module("app",[]);
        app.controller("emp",["$scope",function($scope){
            $scope.name = "John Snow";
        }]);
        app.controller("empInfo",["$scope",function(c){
            c.sal = 1000;
            c.dept = "Finance";
        }]);
        app.controller("empTax",["$scope",function($scope){
            $scope.getTax =  function(){
                return $scope.sal*30/100;
            }
            $scope.getNetSal =  function(){
                return $scope.sal - $scope.getTax();
            }
        }]);
    </script>
    
    <title>Home Page</title>
</head>
<body ng-app="app">
    <h3>Example of scope inheritance</h3>
    <div ng-controller="emp">
        Details of <strong>{{name}}</strong>
        <div ng-controller="empInfo">
            <p>Name: {{name}}</p>
            <p>Salary: {{sal}}</p>
            <p>Deartment: {{dept}}</p>
            <div ng-controller="empTax">
                <p>Tax Paid: {{getTax()}}</p>
                <p>Net Salary: {{getNetSal()}}</p>
            </div>
        </div>
    </div>
</body>
</html>