<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- java scripts -->
    <script src="../angular-1.7.8/angular.js"></script>

    <script>
        var app = angular.module("app",[]);
        app.controller("controller",function($scope){
            $scope.name = "John Snow";
        });
        // in case of minmiser the below pattern of coding shoud be followed
        // [$scope, function(c)] means c=$scope
        app.controller("controller2",["$scope",function(c){
            c.name = "Arya Stark";
            this.name= "Sansa Stark";
        }]);
    </script>
    
    <title>Home Page</title>
</head>
<body ng-app="app">
    <div ng-controller="controller">
        <Label>Name coming from angular controller $scope:</Label>
        <h3>{{name}}</h3>
    </div>
    <hr>
    <div ng-controller="controller2 as c">
        <Label>Name coming from angular controller2 $scope:</Label>
        <h3>{{name}}</h3> 
        <Label>Name coming from angular controller2 $scope obj:</Label>
        <h3>{{c.name}}</h3>
    </div>
</body>
</html>