<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
    <!-- j-query -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- angular scripts(local) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.22/angular-ui-router.js"></script> 
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script>
        var app = angular.module("app",['ui.router']);

        app.config(['$stateProvider','$urlRouterProvider','$locationProvider',function($stateProvider,$urlRouterProvider,$locationProvider){
            //below code is required to escape use custom prefix
            $locationProvider.hashPrefix('');
            //routing logic
            $stateProvider
            .state('first-message',{
                url:'/first-msg',
                template: '<strong>This is first message..a={{a}},b={{b}}</strong>',
                controller: 'frstMsg'
            }).state('second-message',{
                url:'/second-msg',
                template: '<strong>This is second message..a={{a}},b={{b}}</strong>',
                controller: 'scndMsg'
            }).state('root',{
                url:'/',
                template: '<strong>This is home page.</strong>'
            });

            $urlRouterProvider.otherwise('/');


        }]);

        app.controller("frstMsg",['$scope',function($scope){
            $scope.a = 10;
            $scope.b = 20;
        }]);
        app.controller("scndMsg",['$scope',function($scope){
            $scope.a = 30;
            $scope.b = 40;
        }]);
    </script>
</head>
<body ng-app="app" class="container container-fluid">
    <div class="row">
        <div class="page-header">
            <h3>Example of route using ui-route</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 well" style="height: 100%">
            <ul>
                <!-- ui-sref is angular directive -->
                <li> <a ui-sref="first-message()">First</a></li>
                <li> <a ui-sref="second-message()">Second</a> </li>
                <li> <a href="#/abc">Test Non Existing Link</a></li>
            </ul>
        </div>
        <div class="col-sm-9 well" style="height: 100%">
            <div ui-view></div>
        </div>
    </div>
</body>
</html>