<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
    <!-- j-query -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- angular scripts(local) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.22/angular-ui-router.js"></script> 
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script>
        var app = angular.module("app",['ui.router']);

        app.config(['$stateProvider','$urlRouterProvider','$locationProvider',function($stateProvider,$urlRouterProvider,$locationProvider){
            //below code is required to escape use custom prefix
            $locationProvider.hashPrefix('');
            //routing logic
            $stateProvider
            .state('first-message',{
                url:'/first-msg/{a}/{b}',
                template: '<strong>This is first message..a={{a}},b={{b}}</strong>',
                controller: 'frstMsg'
            }).state('second-message',{
                url:'/second-msg/{a:[0-9]+}/{b}',
                template: '<strong>This is second message..a={{a}},b={{b}}</strong>',
                controller: 'frstMsg'
            }).state('third-message',{
                url:'/third-msg/:a', // by default one or no param
                template: '<strong>This is third message..a={{a}},b={{b}}</strong>',
                controller: 'frstMsg'
            }).state('third-message2',{
                url:'/third-msg/:a/:b', //goes is both are provided
                template: '<strong>This is third message(2)..a={{a}},b={{b}}</strong>',
                controller: 'frstMsg'
            }).state('fourth-message',{
                url:'/fourth-msg', //can not ne used as part of routing url, only ui-sref
                template: '<strong>This is fourth message..a={{a}},b={{b}}</strong>',
                params : {
                    a: {value:'2'}, //defualt values
                    b: {value:'3'}
                },
                controller: 'frstMsg'
            }).state('fifth-message',{
                url:'/fifth-msg/:a/:b', //can not ne used as part of routing url, '//' will work
                template: '<strong>This is fifth message..a={{a}},b={{b}}</strong>',
                params : {
                    a: {value:'2'}, //defualt values
                    b: {value:'3'}
                },
                controller: 'frstMsg'
            }).state('sixth-message',{
                url:'/sixth-msg/:a/:b', //can not ne used as part of routing url, '//' will work
                template: '<strong>This is sixth message..a={{a}},b={{b}}</strong>',
                params : {
                    a: {value:'2', squash: true}, //defualt values
                    b: {value:'3', squash: true}
                },
                controller: 'frstMsg'
            }).state('seventh-message',{
                url:'/seventh-msg/:a/:b', 
                template: '<strong>This is seventh message..a={{a}},b={{b}}</strong>',
                params : {
                    a: {value:'2', squash: '-'}, //defualt values
                    b: {value:'3', squash: '~'}
                },
                controller: 'frstMsg'
            }).state('eight-message',{
                url:'/eight-msg?a&b',
                template: '<strong>This is eight message..a={{a}},b={{b}}</strong>',
                params : {
                    a: {value:'2'}, //defualt values
                    b: {value:'3'}
                },
                controller: 'frstMsg'
            }).state('ninth-message',{
                url:'/ninth-msg?a&b',
                template: '<strong>This is ninth message..a={{a}},b={{b}}</strong>',
                params : {
                    a: {value:'2'}, //defualt values
                    b: {array: true}
                },
                controller: 'frstMsg'
            }).state('root',{
                url:'/',
                template: '<strong>This is home page.</strong>'
            });

            $urlRouterProvider.otherwise('/');
        }]);

        app.controller("frstMsg",['$scope','$stateParams',function($scope,$stateParams){
            $scope.a = $stateParams.a;
            $scope.b = $stateParams.b;
        }]);

    </script>
</head>
<body ng-app="app" class="container container-fluid">
    <div class="row">
        <div class="page-header">
            <h4><a ui-sref="root" ui-sref-opts="{reload:true}">Home</a></h4>
            <h3>Example of ui-sref, paramas</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 well" style="height: 100%">
            <ul>
                <!-- ui-sref is angular directive -->
                <li> <a href="#/first-msg/demo/20">First</a></li>
                <li> <a href="#/second-msg/400/300">Second</a> </li>
                <li> <a href="#/third-msg/">Msg3 No Param</a></li>
                <li> <a href="#/third-msg/2">Msg3 one Param</a> </li>
                <li> <a href="#/third-msg/2/3">Msg3 two Param</a> </li>
                <li> <a href="#/fourth-msg/2/3">Fourth- this will not work</a> </li>
                <li> <a href="#/fifth-msg//">Fifth-no param-this will work</a> </li>
                <li> <a href="#/fifth-msg/300/">Fifth-a param</a> </li>
                <li> <a href="#/sixth-msg">Sixth-no param ,squash: true</a> </li>
                <li> <a href="#/sixth-msg/200">Sixth-a param, squash: true</a> </li>
                <li> <a href="#/seventh-msg/-/500">Seventh-b param, squash</a> </li>
                <li> <a href="#/seventh-msg/700/~">Seventh-a param, squash</a> </li>
                <li> <a href="#/eight-msg?a=10&b=20">Eight two param</a> </li>
                <li> <a href="#/eight-msg?a=10">Eight one param</a> </li>
                <li> <a href="#/eight-msg">Eight no param</a> </li>
                <li> <a href="#/ninth-msg?a=10&b=20&b=30&b=40">Ninth array param</a> </li>
            </ul>
            <hr>
            <ul>
                <li> <a ui-sref="first-message({a:20,b:30})">First</a></li>
                <li> <a ui-sref="second-message({a:400,b:300})">Second</a> </li> 
                <!-- <li> <a ui-sref-opts="{inherit:false}" ui-sref="third-message(null)">Msg3 No Param</a></li> -->
                <li> <a ui-sref="third-message({a:null,b:null})">Msg3 No Param</a></li>
                <li> <a ui-sref="third-message({a:40,b:null})">Msg3 one Param</a> </li>
                <li> <a ui-sref="third-message2({a:40,b:50})">Msg3 two Param</a> </li>
                <li> <a ui-sref="fourth-message({a:null,b:null})">Fourth no Param</a> </li>
                <li> <a ui-sref="fourth-message({a:40,b:null})">Fourth one Param-a</a> </li>
                <li> <a ui-sref="fourth-message({a:null,b:50})">Fourth one Param-b</a> </li>
                <li> <a ui-sref="fourth-message({a:40,b:50})">Fourth two Param</a> </li>
                <li> <a ui-sref="fifth-message({a:null,b:null})">Fifth no Param</a> </li>
                <li> <a ui-sref="fifth-message({a:null,b:50})">Fifth b Param</a> </li>
                <li> <a ui-sref="eight-message({a:10,b:20})">Eight two param</a> </li>
                <li> <a ui-sref="eight-message({a:10,b:null})">Eight one param</a> </li>
                <li> <a ui-sref="eight-message({a:null,b:null})">Eight no param</a> </li>
                <li> <a ui-sref="ninth-message({a:null,b:[20,30,40]})">Nonth array param</a> </li>
            </ul>
        </div>
        <div class="col-sm-9 well" style="height: 100%">
            <div ui-view></div>
        </div>
    </div>
</body>
</html>