<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- java scripts -->
    <script src="../angular-1.7.8/angular.js"></script>

    <script src="./scripts/watcher.js"></script>
    
    <title>Home Page</title>
</head>
<body ng-app="app">
    <h3>Example of watcher, watcher colelction, watcher group, watcher by equality</h3>
    <div ng-controller="controller">
        <!-- watch 1 -->
        a = <input ng-model="a" ng-change="updateC()"></input>
        <div>
            <!-- watch 2 -->
            a = {{a}}
        </div>
        <div>
            <!-- watch 3 -->
            b = <input ng-model="b">
        </div>
        <hr>
        <div>
            <!-- watch 4 -->
            Obj = {{obj}} <br>
            <button ng-click="addToList()">Add to List</button>
        </div>
        <hr>
        <div>
            Objects in elements list:
            <button ng-click="emptyList()">Empty List</button>
            <div ng-repeat="e in elements">
                <div>
                    Element.....
                    <div>a=<input ng-model="e.a"></input></div>
                    <div>b=<input ng-model="e.b"></input></div>
                    <div>c=<input ng-model="e.c"></input></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>